<% if @show_user %>
  <h3>Confess your crush for <%= @show_user.name %></h3>
  <!--<form class="w3-container w3-card-8" action="<%= show_user.id %>/add_crush">
    <input class="w3-input" type="text" style="width:90%" required id="message" name="message">
    <input class="w3-input" type="submit">
  /form>-->
<% end %>
<%= link_to "Create your own page!", root_path%>
